# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=ecommerce_password

# Metabase
MB_DB_FILE=/metabase-data/metabase.db

# Dagster
DAGSTER_HOME=/opt/dagster/dagster_home
