# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# dbt
target/
dbt_packages/
logs/

# Dagster
.dagster/
storage/

# Metabase
metabase-data/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Docker
*.log

# Generated raw data
data/raw/*.csv

# dbt local user config
dbt_ecommerce/ecommerce/.user.yml
